body {
    font-family: sans-serif;
    padding: 20px;
}

input {
    margin: 5px;
    width: 120px;
}

button {
    margin-top: 10px;
    padding: 8px 16px;
}

/* タブUI */
.tabs {
    margin-bottom: 10px;
}

.tab-button {
    padding: 8px 16px;
    margin-right: 5px;
    cursor: pointer;
    background: #ddd;
    border: none;
}

.tab-button.active {
    background: #aaa;
}

.tab-content {
    display: none;
    margin-bottom: 20px;
}

.tab-content.active {
    display: block;
}


.tab-content.active {
    display: block;
}
